{% extends 'layout/base.html' %}


{% block content %}

{% include 'partials/navbar.html' %}
<body>
    <div class="container mt-4">
        <h1 class="text-center">Energy Consumption Prediction</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Main Solar Energy Prediction</h5>
                        <p> Prediction for the next 30 days from February 25th 2025 to March 25th 2025</p>
                        <img src="data:image/png;base64,{{ chart }}" class="img-fluid" alt="Solar Energy Prediction">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Grid Energy Prediction (Kenya Power)</h5>
                        <p>Prediction for the next 10 months from January 2025 to November 2025</p>
                        <img src="data:image/png;base64,{{ chart2 }}" class="img-fluid" alt="Grid Energy Prediction">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}